# Hypothesis testing - LabTAT data

In [15]:
Ho = 'there is no difference in average TAT among the different laboratories'
Ha = 'there is a difference in average TAT among the different laboratories'

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
Labtat_data = pd.read_csv(r'/home/suraj/Downloads/Assignments/Assignment-3/LabTAT.csv')
Labtat_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [6]:
Labtat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

### As the data is a comparision of varience between 4 features we use Anova test

In [9]:
Anova_test = stats.f_oneway(Labtat_data.iloc[:,0],Labtat_data.iloc[:,1],Labtat_data.iloc[:,2],Labtat_data.iloc[:,3])
Anova_test

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [10]:
statistic, p_val = Anova_test

In [19]:
if p_val < 0.05:
    print('We reject the null hypothesis: ',Ho)
else:
    print('We do not reject the null hypothesis: ',Ha)

We reject the null hypothesis:  there is no difference in average TAT among the different laboratories